* {
    margin: 0;
    padding: 0;
}
body{
     margin-left: 5rem;   
}
#carrousel {
    margin-top: 2rem;
    height: 420px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    
}
#carrousel{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bodycard{
  
}

.heartr{
    margin-left: 2rem;
    vertical-align: middle
}
.icons{
    float: right;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
    vertical-align: middle   
}


