* {
    margin: 0;
    padding: 0;
}
body{
     margin-left: 5rem;   
}
#carrousel {
    margin-top: 2rem;
    height: 420px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    
}
#carrousel{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.heartr{
    margin-left: 2rem;
    vertical-align: middle
}
.icons{
    float: right;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
    vertical-align: middle   
}
.starwartim{
    height: 100px;
    width: 200px;
    cursor: pointer;
}
.iconsdelete{
    margin-left: 1rem;
    cursor: pointer;
}

#infopersonaje{
    display: flex;
    justify-content: space-around;
    color: red;
    border-top: 1px  solid red;
}
.deleteIcon{
    padding: 0 3.5px 0 3px;
    color: white;
    text-decoration: none;
    background: gray;
    border-radius: 5px;
}
.deleteIcon:hover{
    color: red;
    background-color: white;
}

